Repository cerner/terra-graphs, pull requests merged in 2020-12, with the labels that each got.

#15 Fix: Allow Eventlines to be updated through reflow.
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/dev/app.js
  packages/carbon-graphs/dev/examples/controls/bar.js
  packages/carbon-graphs/dev/examples/controls/gantt.js
  packages/carbon-graphs/dev/examples/controls/line.js
  packages/carbon-graphs/dev/examples/controls/pairedResult.js
  packages/carbon-graphs/dev/examples/controls/scatter.js
  packages/carbon-graphs/src/js/controls/Gantt/Gantt.js
  packages/carbon-graphs/src/js/controls/Graph/Graph.js
  packages/carbon-graphs/tests/unit/controls/Gantt/GanttPanning-spec.js
  packages/carbon-graphs/tests/unit/controls/Graph/GraphPanning-spec.js
Labels: :star: ux reviewed, bug-fix, package: carbon-graphs

#19 Fix: Reflow does not accept Paired Result with low/high/mid value as undefined/null/blank
  CONTRIBUTORS.md
  package.json
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/controls/PairedResult/PairedResult.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResultLoad-spec.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResultPanning-spec.js
  packages/terra-graphs/docs/contributing/README.md
  packages/terra-graphs/docs/controls/PairedResult.md
Labels: bug-fix, package: carbon-graphs

#18 Fix: Update draw helpers to use graphInstance object.
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/controls/Bubble/Bubble.js
  packages/carbon-graphs/src/js/controls/Bubble/BubbleMultipleDataset.js
  packages/carbon-graphs/src/js/controls/Bubble/BubbleSingleDataset.js
  packages/carbon-graphs/src/js/controls/Bubble/helpers/helpers.js
  packages/carbon-graphs/src/js/controls/Gantt/Track.js
  packages/carbon-graphs/src/js/controls/Gantt/helpers/actionHelpers.js
  packages/carbon-graphs/src/js/controls/Gantt/helpers/datapointHelpers.js
  packages/carbon-graphs/src/js/controls/Line/Line.js
  packages/carbon-graphs/src/js/controls/Line/helpers/helpers.js
  packages/carbon-graphs/src/js/controls/PairedResult/PairedResult.js
  packages/carbon-graphs/src/js/controls/PairedResult/helpers/helpers.js
  packages/carbon-graphs/src/js/controls/Scatter/Scatter.js
  packages/carbon-graphs/src/js/controls/Scatter/helpers/helpers.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResultLoad-spec.js
Labels: bug-fix, package: carbon-graphs

#26 updated READMEs
  CONTRIBUTORS.md
  README.md
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/README.md
  packages/terra-graphs/docs/assets/carbon-simple-line-graph.png
Labels: chore, package: carbon-graphs

#29 Content as array in Construct based Graph types
  CONTRIBUTORS.md
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/dev/examples/controls/gantt.js
  packages/carbon-graphs/dev/examples/controls/line.js
  packages/carbon-graphs/dev/examples/controls/timeline.js
  packages/carbon-graphs/src/js/controls/Gantt/Gantt.js
  packages/carbon-graphs/src/js/controls/Graph/Graph.js
  packages/carbon-graphs/src/js/controls/Pie/Pie.js
  packages/carbon-graphs/src/js/controls/Timeline/Timeline.js
  packages/carbon-graphs/src/js/core/Construct/Construct.js
  packages/carbon-graphs/src/js/helpers/constructUtils.js
  packages/carbon-graphs/tests/unit/controls/Gantt/Gantt-spec.js
  packages/carbon-graphs/tests/unit/controls/Graph/Graph-spec.js
  packages/carbon-graphs/tests/unit/controls/Timeline/Timeline-spec.js
  packages/terra-graphs/docs/controls/Line.md
  packages/terra-graphs/docs/controls/Timeline.md
Labels: enhancement-fix, package: carbon-graphs

#24 Handling invalid data when passed to y.
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/karma.config.js
  packages/carbon-graphs/src/js/controls/Bar/Bar.js
  packages/carbon-graphs/src/js/controls/Bubble/BubbleMultipleDataset.js
  packages/carbon-graphs/src/js/controls/Bubble/BubbleSingleDataset.js
  packages/carbon-graphs/src/js/controls/Bubble/helpers/helpersMultipleDataset.js
  packages/carbon-graphs/src/js/controls/Bubble/helpers/helpersSingleDataset.js
  packages/carbon-graphs/src/js/controls/Line/Line.js
  packages/carbon-graphs/src/js/controls/Line/helpers/helpers.js
  packages/carbon-graphs/src/js/controls/PairedResult/PairedResult.js
  packages/carbon-graphs/src/js/controls/Scatter/Scatter.js
  packages/carbon-graphs/src/js/controls/Scatter/helpers/helpers.js
  packages/carbon-graphs/src/js/helpers/constructUtils.js
  packages/carbon-graphs/src/js/helpers/errors.js
  packages/carbon-graphs/tests/unit/controls/Bar/BarLoad-spec.js
  packages/carbon-graphs/tests/unit/controls/Bar/BarPanning-spec.js
  packages/carbon-graphs/tests/unit/controls/Bubble/MultipleDataset/BubbleMultipleDatasetLoad-spec.js
  packages/carbon-graphs/tests/unit/controls/Bubble/MultipleDataset/BubbleMultipleDatasetPanning-spec.js
  packages/carbon-graphs/tests/unit/controls/Bubble/SingleDataset/BubbleSingleDatasetLoad-spec.js
  packages/carbon-graphs/tests/unit/controls/Bubble/SingleDataset/BubbleSingleDatasetPanning-spec.js
  packages/carbon-graphs/tests/unit/controls/Graph/GraphPanning-spec.js
  packages/carbon-graphs/tests/unit/controls/Line/LineLoad-spec.js
  packages/carbon-graphs/tests/unit/controls/Line/LinePanning-spec.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResult-spec.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResultPanning-spec.js
  packages/carbon-graphs/tests/unit/controls/Scatter/ScatterLoad-spec.js
  packages/carbon-graphs/tests/unit/controls/Scatter/ScatterPanning-spec.js
  packages/terra-graphs/docs/controls/Bar.md
  packages/terra-graphs/docs/controls/BubbleMultipleDataset.md
  packages/terra-graphs/docs/controls/BubbleSingleDataset.md
  packages/terra-graphs/docs/controls/PairedResult.md
  packages/terra-graphs/docs/controls/Scatter.md
Labels: package: carbon-graphs

#30 Fix: Connecting line does not go away for paired results when toggled off in IE
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/controls/PairedResult/helpers/helpers.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResultLoad-spec.js
  packages/carbon-graphs/webpack/dev-server.js
Labels: :star: ux reviewed, bug-fix, package: carbon-graphs
