Repository cerner/terra-graphs, pull requests merged in 2021-08, with the labels that each got.

#193 Updated timeline documentation and examples to be carbon centric
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Timeline/BasicTimeline/AxisWithNoTickValues.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Timeline/BasicTimeline/SimpleTimeline.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Timeline/Criticality/TimelineCriticality.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Timeline/Reflow/DynamicData.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Timeline/Reflow/SimplePanning.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Timeline/BasicTimeline/AxisWithNoTickValues.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Timeline/BasicTimeline/SimpleTimeline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Timeline/Criticality/TimelineCriticality.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Timeline/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Timeline/Reflow/SimplePanning.jsx
Labels: package: terra-graphs-docs

#194 Updated Scatter graph documentation and examples to be carbon-centric.
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/BasicScatterGraphs/SimpleScatter.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/BasicScatterGraphs/Timeseries.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/BasicScatterGraphs/TimeseriesWithDateline.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/BasicScatterGraphs/TimeseriesWithEventline.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/BasicScatterGraphs/Y2Axis.5.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/Criticality/Simple.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/Reflow/DynamicData.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/Reflow/SimplePanning.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/BasicScatterGraphs/SimpleScatter.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/BasicScatterGraphs/Timeseries.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/BasicScatterGraphs/TimeseriesWithDateline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/BasicScatterGraphs/TimeseriesWithEventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/BasicScatterGraphs/Y2Axis.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/Criticality/Simple.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/Reflow/SimplePanning.jsx
Labels: package: terra-graphs-docs

#199 updated components and reflow examples for consistency
  .eslintrc.yaml
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/LineGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/LineGraph/Reflow/DynamicLegend.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/LineGraph/Reflow/MultipleDatasets.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/LineGraph/Reflow/SimplePanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/LineGraph/Reflow/Y2Panning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/DynamicEventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/MultipleDatasetsWithY2Axis.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/SimplePanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/ScatterGraph/Reflow/SimplePanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/LineGraph/Reflow/DynamicEventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/ScatterGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Reflow/DynamicData.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Reflow/DynamicEventline.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Reflow/DynamicLegend.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Reflow/MultipleDatasets.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Reflow/SimplePanning.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Reflow/Y2Panning.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/ScatterGraph/Reflow/DynamicData.test.jsx
  packages/terra-graphs/CHANGELOG.md
  packages/terra-graphs/src/components/Bar/BarGraph.jsx
  packages/terra-graphs/src/components/Bubble/BubbleMultipleDataset.jsx
  packages/terra-graphs/src/components/Bubble/BubbleSingleDataset.jsx
  packages/terra-graphs/src/components/Gantt/GanttChart.jsx
  packages/terra-graphs/src/components/Line/LineGraph.jsx
  packages/terra-graphs/src/components/PairedResult/PairedResultGraph.jsx
Labels: chore, package: terra-graphs-docs

#205 Fixed a bug causing the UI glitch while rendering graphs having y2 axis.
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/helpers/label.js
  packages/carbon-graphs/tests/unit/controls/Graph/GraphAxes-spec.js
Labels: bug-fix, package: carbon-graphs

#203 Fixed broken hyperlinks in carbon-graphs README
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/README.md
Labels: documentation, package: carbon-graphs

#204 Moved Documentation: colors, shapes, errors and contributing guide
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/Contributing/ContributingGuide.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/Core/Colors.8.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/Core/Errors.10.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/Core/Locale.9.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/Core/Shapes.7.doc.mdx
Labels: documentation, package: terra-graphs-docs

#217 Updated Pie charts example datasets to maintain consistency
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Pie/simplePieData.js
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Pie/simplePieDataset1.js
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Pie/simplePieDataset2.js
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Pie/simplePieDataset3.js
  packages/terra-graphs-docs/src/example-datasets/graphConfigObjects/Pie/customLegendPlacementConfig.js
  packages/terra-graphs-docs/src/example-datasets/graphConfigObjects/Pie/reducedPaddingConfig.js
  packages/terra-graphs-docs/src/example-datasets/graphConfigObjects/Pie/simplePieConfig.js
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PieChart/CustomLegendPlacement.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PieChart/GraphAndLegendPaddingReduced.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PieChart/SimplePie.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PieChart/CustomLegendPlacement.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PieChart/GraphAndLegendPaddingReduced.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PieChart/SimplePie.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/PieChart/CustomLegendPlacement.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/PieChart/GraphAndLegendPaddingReduced.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/PieChart/SimplePie.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/PieChart/CustomLegendPlacement.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/PieChart/GraphAndLegendPaddingReduced.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/PieChart/SimplePie.test.jsx
  packages/terra-graphs/CHANGELOG.md
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_large/pie-chart-spec/custom_legend_placement.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_large/pie-chart-spec/reduced_padding.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_large/pie-chart-spec/simple_pie.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_medium/pie-chart-spec/custom_legend_placement.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_medium/pie-chart-spec/reduced_padding.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_medium/pie-chart-spec/simple_pie.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_tiny/pie-chart-spec/custom_legend_placement.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_tiny/pie-chart-spec/reduced_padding.png
  packages/terra-graphs/tests/wdio/Graphs/PieChart/__snapshots__/reference/terra-default-theme/en/chrome_tiny/pie-chart-spec/simple_pie.png
Labels: package: terra-graphs, package: terra-graphs-docs

#218 Corrected TickValues documentation error
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/Core/Ticks.6.doc.mdx
Labels: documentation

#224 Updated date format string for locales as per internationalization Sandards.
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/helpers/axis.js
  packages/carbon-graphs/src/js/helpers/localeFormat.js
  packages/carbon-graphs/src/js/locale/de-DE.js
  packages/carbon-graphs/src/js/locale/en-AU.js
  packages/carbon-graphs/src/js/locale/en-CA.js
  packages/carbon-graphs/src/js/locale/en-GB.js
  packages/carbon-graphs/src/js/locale/en-US.js
  packages/carbon-graphs/src/js/locale/es-ES.js
  packages/carbon-graphs/src/js/locale/fr-FR.js
  packages/carbon-graphs/src/js/locale/ja-JP.js
  packages/carbon-graphs/src/js/locale/nl-NL.js
  packages/carbon-graphs/src/js/locale/pt-BR.js
  packages/carbon-graphs/src/js/locale/sv-SE.js
  packages/carbon-graphs/tests/unit/controls/Gantt/GanttGenerate-spec.js
  packages/carbon-graphs/tests/unit/controls/Graph/GraphAxes-spec.js
  packages/carbon-graphs/tests/unit/controls/Timeline/Timeline-spec.js
Labels: bug-fix, package: carbon-graphs
