Repository cerner/terra-graphs, pull requests merged in 2021-04, with the labels that each got.

#90 Updated Ticks.md
  packages/terra-graphs/docs/helpers/Ticks.md
Labels: chore, documentation

#97 Removed extra Travis jobs
  .travis.yml
Labels: chore

#94 Fixed Y-axis and y2-axis icons not updating during reflow
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/controls/Bar/Bar.js
  packages/carbon-graphs/src/js/controls/Line/Line.js
  packages/carbon-graphs/src/js/controls/PairedResult/PairedResult.js
  packages/carbon-graphs/src/js/controls/Scatter/Scatter.js
  packages/carbon-graphs/src/js/helpers/label.js
  packages/carbon-graphs/tests/unit/controls/Bar/BarPanningMultipleDatasets-spec.js
  packages/carbon-graphs/tests/unit/controls/Line/LinePanningMultipleDatasets-spec.js
  packages/carbon-graphs/tests/unit/controls/PairedResult/PairedResultPanningMultipleDatasets-spec.js
  packages/carbon-graphs/tests/unit/controls/Scatter/ScatterPanningMultipleDatasets-spec.js
Labels: bug-fix, package: carbon-graphs

#91 Timeline graph only works if it is the first/only graph on a page
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/dev/app.less
  packages/carbon-graphs/src/js/controls/Timeline/Timeline.js
  packages/carbon-graphs/src/js/helpers/styles.js
  packages/carbon-graphs/src/less/core.less
  packages/carbon-graphs/tests/unit/controls/Timeline/Timeline-spec.js
  packages/carbon-graphs/tests/unit/controls/Timeline/TimelineLoad-spec.js
Labels: bug-fix, package: carbon-graphs
