Repository cerner/terra-graphs, pull requests merged in 2021-11, with the labels that each got.

#259 [UXPLATFORM-5885] Updated line graph example datasets to display correct line graphs in dev site
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Line/dataset3.js
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Line/datasetRegions1.js
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Line/datasetRegions3.js
  packages/terra-graphs-docs/src/example-datasets/dataObjects/Line/datasetRegions8.js
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/LineGraph.b/About.a.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/LineGraph.b/BasicLineGraphs.b/SimpleNonContiguousLine.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/LineGraph.b/Reflow.c/DynamicData.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/LineGraph.b/Regions.d/Line.a/ValueRegion.6.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/LineGraph.b/Regions.d/ValueRegion.d.doc.mdx
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/multi_line.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/multiline_dataset_region_identical.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/multiple_line_region.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/multiple_line_region_hovered_on_data_label_1.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/multiple_line_region_hovered_on_data_label_3.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/multiple_line_region_hovered_on_data_label_5.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/region_no_lower-bound.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/line-graph-spec/simple_region.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/multi_line.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/multiline_dataset_region_identical.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/multiple_line_region.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/multiple_line_region_hovered_on_data_label_1.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/multiple_line_region_hovered_on_data_label_3.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/multiple_line_region_hovered_on_data_label_5.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/region_no_lower-bound.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/line-graph-spec/simple_region.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/multi_line.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/multiline_dataset_region_identical.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/multiple_line_region.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/multiple_line_region_hovered_on_data_label_1.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/multiple_line_region_hovered_on_data_label_3.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/multiple_line_region_hovered_on_data_label_5.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/region_no_lower-bound.png
  packages/terra-graphs/tests/wdio/Graphs/LineGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/line-graph-spec/simple_region.png
Labels: package: terra-graphs-docs

#262 update getting started documentation to be consistent with the rest of the documentation
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt.h/About.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Axes.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Dateline.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Eventline.5.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Graph.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Lifecycle.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Locale.9.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Padding.11.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Panning.12.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Shapes.7.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/GettingStarted.a/GraphCore/Documentation/Ticks.6.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/LineGraph.b/About.a.doc.mdx
Labels: documentation, package: terra-graphs-docs

#267 [UXPLATFORM-5996] Follow up on fixing multiple zeros on Y and Y2 axes.
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/helpers/axis.js
  packages/carbon-graphs/tests/unit/controls/Graph/GraphAxes-spec.js
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/y2-axis.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/y2-axis.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/y2-axis.png
Labels: package: carbon-graphs

#274 release on 11-30-2021
  RELEASE.md
  lerna.json
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/package.json
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
Labels: package: carbon-graphs, package: terra-graphs-docs
