Repository cerner/terra-graphs, pull requests merged in 2021-07, with the labels that each got.

#178 Add reflow to Scatter component
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/Reflow/DynamicData.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/ScatterGraph/Reflow/SimplePanning.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/ScatterGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs/ScatterGraph/Reflow/SimplePanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/ScatterGraph/Reflow/DynamicData.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/ScatterGraph/Reflow/SimplePanning.test.jsx
  packages/terra-graphs/CHANGELOG.md
  packages/terra-graphs/src/components/Scatter/ScatterGraph.jsx
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/dynamic_data_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/dynamic_data_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/simple_panning_left_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/simple_panning_left_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/simple_panning_left_3.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/simple_panning_right_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/simple_panning_right_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_large/scatter-graph-spec/simple_panning_right_3.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/dynamic_data_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/dynamic_data_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/simple_panning_left_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/simple_panning_left_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/simple_panning_left_3.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/simple_panning_right_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/simple_panning_right_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_medium/scatter-graph-spec/simple_panning_right_3.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/dynamic_data_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/dynamic_data_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/simple_panning_left_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/simple_panning_left_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/simple_panning_left_3.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/simple_panning_right_1.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/simple_panning_right_2.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/__snapshots__/reference/terra-default-theme/en/chrome_tiny/scatter-graph-spec/simple_panning_right_3.png
  packages/terra-graphs/tests/wdio/Graphs/ScatterGraph/scatter-graph-spec.js
Labels: enhancement-fix, package: terra-graphs, package: terra-graphs-docs

#181 Changed example implementation and documentation for Combination graph to be carbon centric.
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/BasicCombinationGraph/BarGraphWithLine.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/BasicCombinationGraph/LineWithMultipleBubbleData.5.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/BasicCombinationGraph/LineWithPairedResult.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/BasicCombinationGraph/LineWithSingleBubbleData.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/BasicCombinationGraph/PairedResultWithScatter.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/Regions/DatasetRegionIdentical.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Combination/Regions/Simple.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/BasicCombinationGraphs/BarGraphWithLine.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/BasicCombinationGraphs/LineWithMultipleBubbleData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/BasicCombinationGraphs/LineWithPairedResult.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/BasicCombinationGraphs/LineWithSingleBubbleData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/BasicCombinationGraphs/PairedResultWithScatter.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/Regions/DatasetRegionIdentical.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/CombinationGraph/Regions/Simple.jsx
Labels: package: terra-graphs-docs

#182 Updated example implementation and documentation for Gantt chart to be carbon centric.
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/Actions.5.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/BarTypes.8.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/DatetimeBucket.91.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/Eventline.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/Events.6.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/GraphAndLegendPaddingReduced.92.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/LabelTruncation.9.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/Percentage.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/SimpleGantt.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/TasksAndActivities.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/BasicGanttCharts/TrackSelection.7.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/Reflow/DynamicData.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/Reflow/DynamicEventline.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/Reflow/MultipleDatasets.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Gantt/Reflow/Simple.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/Actions.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/BarTypes.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/DatetimeBucket.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/Eventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/Events.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/GraphAndLegendPaddingReduced.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/LabelTruncation.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/Percentage.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/SimpleGantt.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/TasksAndActivities.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/BasicGanttCharts/TrackSelection.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/Reflow/DynamicEventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/Reflow/MultipleDatasets.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/Gantt/Reflow/SimplePanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/LineGraph/Regions/Spline/ValueRegion.test.jsx
Labels: package: terra-graphs-docs

#184 Updated documentation for General graphs to be carbon centric.
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/DateTimeBucket.8.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/LabelHidden.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/LabelTruncation.7.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/StaticXAxisTicks.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/SuppressTickValueTrailingZero.91.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/XAxisAlternateLocale.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/XAxisHidden.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/XAxisOrientationTop.6.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/XAxisTicksFormatted.9.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Axes/YAxisHidden.5.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Grid/HorizontalGridHidden.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Grid/VerticalGridHidden.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Legend/LegendHidden.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Legend/LegendItemDisable.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Legend/LineWithLegendOption.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Other/BackgroundColor.14.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Other/NoData.6.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Padding/CustomLegendPlacement.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/General/Padding/GraphAndLegendPaddingReduced.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/DatetimeBucket.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/LabelHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/LabelTruncation.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/StaticXAxisTicks.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/SuppressTickValueTrailingZero.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/XAxisAlternateLocale.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/XAxisHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/XAxisOrientationTop.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/XAxisTicksFormatted.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Axes/YAxisHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Grid/HorizontalGridHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Grid/VerticalGridHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Legend/LegendHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Legend/LegendItemDisable.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Legend/LineWithLegendOption.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Other/BackgroundColor.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Other/NoData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Padding/CustomLegendPlacement.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/General/Padding/GraphAndLegendPaddingReduced.jsx
Labels: package: terra-graphs-docs

#186 Updated documentation for Paired result graph to be carbon-centric.
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/BasicPairedResultGraphs/LegendItemDisable.6.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/BasicPairedResultGraphs/SimplePairedResult.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/BasicPairedResultGraphs/Timeseries.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/BasicPairedResultGraphs/TimeseriesWithDateline.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/BasicPairedResultGraphs/TimeseriesWithEventline.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/BasicPairedResultGraphs/Y2Axis.5.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Criticality/MultiplePairedResult.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Criticality/SimplePairedResult.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Reflow/DynamicData.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Reflow/DynamicEventline.4.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Reflow/MultipleDatasetsWithY2Axis.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Reflow/Simple.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Regions/MultiplePairedResult.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Regions/Simple.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PairedResultGraph/Regions/ValueRegion.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/BasicPairedResultGraphs/LegendItemDisable.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/BasicPairedResultGraphs/SimplePairedResult.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/BasicPairedResultGraphs/Timeseries.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/BasicPairedResultGraphs/TimeseriesWithDateline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/BasicPairedResultGraphs/TimeseriesWithEventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/BasicPairedResultGraphs/Y2Axis.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Criticality/MultiplePairedResult.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Criticality/SimplePairedResult.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/DynamicEventline.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/MultipleDatasetsWithY2Axis.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Reflow/SimplePanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Regions/MultiplePairedResult.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Regions/Simple.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PairedResultGraph/Regions/ValueRegion.jsx
Labels: package: terra-graphs-docs

#188 Updated documentation for pie chart to be carbon-centric
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PieChart/CustomLegendPlacement.2.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PieChart/GraphAndLegendPaddingReduced.3.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/PieChart/SimplePie.1.doc.mdx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PieChart/CustomLegendPlacement.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PieChart/GraphAndLegendPaddingReduced.jsx
  packages/terra-graphs-docs/src/terra-dev-site/doc/example/Graphs-Carbon/PieChart/SimplePie.jsx
Labels: package: terra-graphs-docs

#190 Moving Getting started documentation to terra-dev-site
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/doc/Graphs/Documentation/GettingStarted/GettingStarted.1.doc.mdx
Labels: package: terra-graphs-docs

#196 updated node version to 12
  .nvmrc
  package.json
Labels: chore
