Repository cerner/terra-graphs, pull requests merged in 2024-04, with the labels that each got.

#330 Fix inconsistent ticks rotation for X-axis with calibration enabled
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/src/js/controls/Graph/Graph.js
  packages/carbon-graphs/src/js/helpers/axis.js
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_large/general-spec/x-axis_timeseries_allowcalibration_enabled_ticks_rotated.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_medium/general-spec/x-axis_timeseries_allowcalibration_enabled_ticks_rotated.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_tiny/general-spec/x-axis_timeseries_allowcalibration_enabled_ticks_rotated.png
  packages/carbon-graphs/tests/wdio/Graphs/General/general-spec.js
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/example-datasets/graphConfigObjects/General/timeseriesConfigXCalibrationEnabledTicksRotated.js
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/Axes/AllowCalibrationEnabledTimeseriesXAxisTicksRotated.test.jsx
Labels: :package: carbon-graphs, :package: terra-graphs-docs

#331 Release-1-4-2024
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/package.json
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
Labels: release

#341 [terra-graph-docs] Update core-configuration/graph-config-object documentation & examples
  .github/workflows/ci-cd.yml
  package.json
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_large/general-spec/custom_legend_placement.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_large/general-spec/no_data.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_large/general-spec/y-axis_allowcalibration_disabled.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_large/general-spec/y-axis_allowcalibration_enabled.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_medium/general-spec/custom_legend_placement.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_medium/general-spec/no_data.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_medium/general-spec/y-axis_allowcalibration_disabled.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_medium/general-spec/y-axis_allowcalibration_enabled.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_tiny/general-spec/custom_legend_placement.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_tiny/general-spec/no_data.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_tiny/general-spec/y-axis_allowcalibration_disabled.png
  packages/carbon-graphs/tests/wdio/Graphs/General/__snapshots__/reference/terra-default-theme/en/chrome_tiny/general-spec/y-axis_allowcalibration_enabled.png
  packages/carbon-graphs/tests/wdio/Graphs/General/general-spec.js
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConfiguration.b/Graph.1.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConfiguration.b/GraphConfigurationObject.1.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConfiguration.b/examples/AllowCalibrationDisabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConfiguration.b/examples/AllowCalibrationEnabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConfiguration.b/examples/GraphWithCustomLegendDom.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConfiguration.b/examples/GraphWithNoData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/AllowCalibration.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/Other/NoData.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/Padding/CustomLegendPlacement.test.jsx
Labels: :package: terra-graphs-docs

#344 Release April 5
  package-lock.json
  packages/carbon-graphs/CHANGELOG.md
  packages/carbon-graphs/package.json
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
Labels: release

#347 Release april 9
  package-lock.json
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
Labels: release

#349 Release April 9
  package-lock.json
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
Labels: release

#350 [terra-graphs-docs] fix imports
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/graph/example/Graphs-Carbon/Timeline/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/example/Graphs/Timeline/Reflow/DynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/Timeline/Reflow/DynamicData.test.jsx
Labels: :package: terra-graphs-docs

#351 Release April 8 [3]
  package-lock.json
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
Labels: release

#352 [terra-graphs-docs] Reorder docs
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/src/terra-dev-site/graph/ContributingGuide.z.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Axes.b.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Colors.g.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Dateline.d.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Errors.i.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Eventline.d.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/GraphConfigurationObject.a.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Lifecycle.j.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Locale.h.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Padding.f.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Panning.e.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Shapes.g.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Ticks.c.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/AllowCalibrationDisabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/AllowCalibrationEnabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/AllowCalibration.7.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/AxisHidden.1.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/AxisTicks.2.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/DateTimeBucket.6.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/Label.3.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/XAxisAlternateLocale.4.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/XAxisOrientationTop.5.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Axes.1/XAxisTickLabelOrientation.8.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/GraphWithCustomLegendDom.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/GraphWithNoData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Grid.5.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Legend.4.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Other.3/BackgroundColor.14.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Other.3/NoData.6.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Padding.2/CustomLegendPlacement.1.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/Padding.2/GraphAndLegendPaddingReduced.2.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/axes/AllowCalibrationXAxisDisabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/axes/AllowCalibrationXAxisEnabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/axes/RangeRoundingYAxisDisabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/axes/RangeRoundingYAxisEnabled.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/axes/XAxisOrientationTop.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/axes/YAxisHidden.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/GettingStarted.a.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/LineGraph.c/examples/ReflowDynamicData.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/LineGraph.c/examples/ReflowDynamicLegend.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/LineGraph.c/examples/ReflowPanning.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/LineGraph.c/examples/ReflowPanningTimeseries.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/LineGraph.c/examples/ReflowPanningWithY2.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/AllowCalibration.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/Other/NoData.test.jsx
  packages/terra-graphs-docs/src/terra-dev-site/test/graphs/General/Padding/CustomLegendPlacement.test.jsx
Labels: :package: terra-graphs-docs

#353 [terra-graphs-docs] Update reflow docs
  packages/terra-graphs-docs/CHANGELOG.md
  packages/terra-graphs-docs/package.json
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/Reflow.e.graph.mdx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/reflow/BasicReflowExample.jsx
  packages/terra-graphs-docs/src/terra-dev-site/graph/CoreConcepts.b/examples/reflow/PanningExample.jsx
Labels: :package: terra-graphs-docs
